<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="BaseResultMap" tables="t_job">
        <id column="id" langType="long"/>
        <result column="name" langType="string"/>
        <result column="task_id" langType="long"/>
        <result column="input" langType="string"/>
        <result column="output" langType="string"/>
        <result column="options" langType="string"/>
        <result column="retry" langType="int"/>
        <result column="awaken_at" langType="time.Time"/>
        <result column="created_at" langType="time.Time"/>
        <result column="updated_at" langType="time.Time"/>
        <result column="deleted" langType="bool" logic_enable="true" logic_undelete="0" logic_deleted="1"/>
    </resultMap>

    <sql id="columns">id, name, task_id, input, output, options, retry, awaken_at, created_at, updated_at, deleted</sql>
    
    <insert id="Insert" useGeneratedKeys="true">
        insert into t_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != 0">id,</if>
            <if test="name != nil and name != ''">name,</if>
            <if test="task_id != 0">task_id,</if>
            <if test="input != nil and input != ''">input,</if>
            <if test="output != nil and output != ''">output,</if>
            <if test="options != nil and options != ''">options,</if>
            <if test="retry != 0">retry,</if>
            awaken_at,
            created_at,
            updated_at,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != 0">#{id},</if>
            <if test="name != nil and name != ''">#{name},</if>
            <if test="task_id != 0">#{task_id},</if>
            <if test="input != nil and input != ''">#{input},</if>
            <if test="output != nil and output != ''">#{output},</if>
            <if test="options != nil and options != ''">#{options},</if>
            <if test="retry != 0">#{retry},</if>
            #{awaken_at},
            #{created_at},
            #{updated_at},
        </trim>
    </insert>

    <deleteTemplate id="Delete" wheres="id?id = #{id}"/>

    <select id="Query">
        select <include refid="columns"/>
        from t_job
        <where>
            deleted = 0
            <if test="name != nil and name != ''">and name = #{name}</if>
        </where>
    </select>
</mapper>
