<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="BaseResultMap" tables="t_task">
        <id column="id" langType="long"/>
        <result column="pipeline" langType="string"/>
        <result column="dag" langType="string"/>
        <result column="input" langType="string"/>
        <result column="output" langType="string"/>
        <result column="options" langType="string"/>
        <result column="status" langType="int"/>
        <result column="created_at" langType="time.Time"/>
        <result column="updated_at" langType="time.Time"/>
        <result column="deleted" langType="bool" logic_enable="true" logic_undelete="0" logic_deleted="1"/>
    </resultMap>

    <sql id="columns">id, pipeline, dag, input, output, options, status, created_at, updated_at, deleted</sql>
    
    <insert id="Insert">
        insert into t_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != 0">id,</if>
            <if test="pipeline != nil and pipeline != ''">pipeline,</if>
            <if test="dag != nil and dag != ''">dag,</if>
            <if test="input != nil and input != ''">input,</if>
            <if test="output != nil and output != ''">output,</if>
            <if test="options != nil and options != ''">options,</if>
            created_at,
            updated_at,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != 0">#{id},</if>
            <if test="pipeline != nil and pipeline != ''">#{pipeline},</if>
            <if test="dag != nil and dag != ''">#{dag},</if>
            <if test="input != nil and input != ''">#{input},</if>
            <if test="output != nil and output != ''">#{output},</if>
            <if test="options != nil and options != ''">#{options},</if>
            #{created_at},
            #{updated_at},
        </trim>
    </insert>

</mapper>
